## Apache Cassandra Example 4 - Using the WHERE Clause
---

In [1]:
import cassandra
from cassandra.cluster import Cluster

In [2]:
# Create a connection to the database
try: 
    cluster = Cluster(['127.0.0.1']) # Connect to a locally installed Cassandra instance
    session = cluster.connect() # Establish a session
except Exception as e:
    print(e)

In [3]:
# Create a keyspace
try:
    session.execute("""CREATE KEYSPACE IF NOT EXISTS csc555
                       WITH REPLICATION =
                       { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }""")
except Exception as e:
    print(e)

In [4]:
# Connect to the keyspace
try:
    session.set_keyspace('csc555')
except Exception as e:
    print(e)

In [5]:
# Define a query to create the 'music_library' table with a different primary key (year, artist_name, album_name)
query = "CREATE TABLE IF NOT EXISTS music_library "
query = query + "(year int, artist_name text, album_name text, city text, PRIMARY KEY (year, artist_name, album_name))"

try:
    session.execute(query)
except Exception as e:
    print(e)

In [6]:
# Define an INSERT query for the 'music_library' table
query = "INSERT INTO music_library (year, artist_name, album_name, city)"
query = query + " VALUES (%s, %s, %s, %s)"

# Insert data into the 'music_library' table
try:
    session.execute(query, (1970, "The Beatles", "Let it Be", "Liverpool"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Who", "My Generation", "London"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees", "Los Angeles"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1970, "The Carpenters", "Close To You", "San Diego"))
except Exception as e:
    print(e)

In [7]:
# Query to select all records from 'music_library' where year is 1970
query = "select * from music_library WHERE YEAR = 1970"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.artist_name, row.album_name, row.city)

1970 The Beatles Let it Be Liverpool
1970 The Carpenters Close To You San Diego

In [8]:
# Query to select all records from 'music_library' where year is 1970 and artist_name is 'The Beatles'
query = "select * from music_library WHERE YEAR = 1970 AND ARTIST_NAME = 'The Beatles'"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.artist_name, row.album_name, row.city)

1970 The Beatles Let it Be Liverpool

In [9]:
# Query to select all records from 'music_library' where year is 1970 and location is 'Liverpool'
query = "select * from music_library WHERE YEAR = 1970 AND LOCATION = 'Liverpool'"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.artist_name, row.album_name, row.city)

Error from server: code=2200 [Invalid query] message="Undefined column name location in table csc555.music_library"

In [10]:
# Query to select all records from 'music_library' where year is 1970, artist_name is 'The Beatles' and album_name is 'Let it Be'
query = "select city from music_library WHERE YEAR = 1970 AND ARTIST_NAME = 'The Beatles' AND ALBUM_NAME = 'Let it Be'"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.city)

Liverpool

In [11]:
# Drop the 'music_library' table
query = "drop table music_library"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [12]:
# Shutdown the session and cluster connection
session.shutdown()
cluster.shutdown()