## Apache Cassandra Example 3 - Focus on Clustering Columns
---

In [1]:
import cassandra
from cassandra.cluster import Cluster

In [2]:
# Create a connection to the database
try: 
    cluster = Cluster(['127.0.0.1']) # Connect to a locally installed Cassandra instance
    session = cluster.connect() # Establish a session
except Exception as e:
    print(e)

In [3]:
# Create a keyspace
try:
    session.execute("""CREATE KEYSPACE IF NOT EXISTS csc555
                       WITH REPLICATION =
                       { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }""")
except Exception as e:
    print(e)

In [4]:
# Connect to the keyspace
try:
    session.set_keyspace('csc555')
except Exception as e:
    print(e)

In [5]:
# Define a query to create the 'music_library' table with a different primary key (artist_name, city, album_name)
query = "CREATE TABLE IF NOT EXISTS music_library "
query = query + "(year int, artist_name text, album_name text, city text, PRIMARY KEY (artist_name, city, album_name))"

try:
    session.execute(query)
except Exception as e:
    print(e)

In [6]:
# Define an INSERT query for the 'music_library' table
query = "INSERT INTO music_library (year, artist_name, album_name, city)"
query = query + " VALUES (%s, %s, %s, %s)"

# Insert data into the 'music_library' table
try:
    session.execute(query, (1970, "The Beatles", "Let it Be", "Liverpool"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1964, "The Beatles", "Beatles For Sale", "London"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees", "Los Angeles"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1970, "The Carpenters", "Close To You", "San Diego"))
except Exception as e:
    print(e)

In [7]:
# Query to select all records from 'music_library' where artist_name is 'The Beatles'
query = "select * from music_library WHERE ARTIST_NAME = 'The Beatles'"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.artist_name, row.album_name, row.city, row.year)

The Beatles Let it Be Liverpool 1970
The Beatles Beatles For Sale London 1964
The Beatles Rubber Soul Oxford 1965

In [8]:
# Drop the 'music_library' table
query = "drop table music_library"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [9]:
# Shutdown the session and cluster connection
session.shutdown()
cluster.shutdown()