## Apache Cassandra Example 1 - 2 Queries 2 Tables
---

- single node: https://medium.com/@shrutighoradkar101/setting-up-cassandra-with-docker-on-your-local-machine-a-step-by-step-guide-40cdc1a41359
- multi-node cluster: https://blog.digitalis.io/containerized-cassandra-cluster-for-local-testing-60d24d70dcc4

In [1]:
import cassandra
from cassandra.cluster import Cluster

In [2]:
# Create a connection to the database
try: 
    cluster = Cluster(['127.0.0.1']) # Connect to a locally installed Cassandra instance
    session = cluster.connect() # Establish a session
except Exception as e:
    print(e)

In [3]:
# Create a keyspace
try:
    session.execute("""CREATE KEYSPACE IF NOT EXISTS csc555
                       WITH REPLICATION =
                       { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }""")
except Exception as e:
    print(e)

In [4]:
# Connect to the keyspace
try:
    session.set_keyspace('csc555')
except Exception as e:
    print(e)

In [5]:
# Define a query to create the 'music_library' table with year as the partition key
query = "CREATE TABLE IF NOT EXISTS music_library "
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"

try:
    session.execute(query)
except Exception as e:
    print(e)

In [6]:
# Define a query to create the 'album_library' table with artist_name as the partition key
query = "CREATE TABLE IF NOT EXISTS album_library "
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (artist_name, year))"

try:
    session.execute(query)
except Exception as e:
    print(e)

In [7]:
# Define an INSERT query for the 'music_library' table
query = "INSERT INTO music_library (year, artist_name, album_name)"
query += " VALUES (%s, %s, %s)"

# Insert data into the 'music_library' table
try:
    session.execute(query, (1970, "The Beatles", "Let it Be"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Who", "My Generation"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1970, "The Carpenters", "Close To You"))
except Exception as e:
    print(e)

In [8]:
# Define an INSERT query for the 'album_library' table
query1 = "INSERT INTO album_library (artist_name, year, album_name)"
query1 += " VALUES (%s, %s, %s)"

# Insert data into the 'album_library' table    
try:
    session.execute(query1, ("The Beatles", 1970, "Let it Be"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Beatles", 1965, "Rubber Soul"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Who", 1965, "My Generation"))
except Exception as e:
    print(e)

try:
    session.execute(query1, ("The Monkees", 1966, "The Monkees"))
except Exception as e:
    print(e)

try:
    session.execute(query1, ("The Carpenters", 1970, "Close To You"))
except Exception as e:
    print(e)

In [9]:
# Query to select all records from 'music_library' where year is 1970
query = "select * from music_library WHERE YEAR = 1970"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.artist_name, row.album_name,)

1970 The Beatles Let it Be
1970 The Carpenters Close To You

In [10]:
# Query to select all records from 'album_library' where artist_name is 'The Beatles'
query = "select * from album_library WHERE ARTIST_NAME = 'The Beatles'"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.artist_name, row.year, row.album_name)

The Beatles 1965 Rubber Soul
The Beatles 1970 Let it Be

In [11]:
# Drop the 'music_library' table
query = "drop table music_library"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [12]:
# Drop the 'album_library' table
query = "drop table album_library"

try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [13]:
# Shutdown the session and cluster connection
session.shutdown()
cluster.shutdown()